[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
inquirerpy = "*"
cryptography = "*"
pytomlpp = "*"
colorama = "*"
arrow = "*"

[scripts]
py = "python3.10"
pkgls = "python3.10 -m pip freeze"
lint = "pyflakes ."

[dev-packages]
pyflakes = "*"

[requires]
python_version = "3.10"
